@model IEnumerable<WebProjectMVC.Models.Animal>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
    <link href="~/StyleSheet.css" rel="stylesheet" runat="server" type="text/css"/>
</head>
<body>
        @await Html.PartialAsync("PartialView")
        <span id="s">The 2 most highly rated animals today are:</span>
        <div id="d">
            <table width="100%">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Number Of Comments</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/Images/@item.PictureName" /></td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.CommentsCollection.Count</td>
                    </tr>
                }
            </table>
        </div>
</body>
</html>
